@font-face {
    font-family: 'One Little Font';
    src: url('file:///Users/Libbyegan/Library/Fonts/One%20Little%20Font%20Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  